.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  max-width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  font-weight: 900;
  line-height: 29px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background: transparent url(../images/like-active.svg) center no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.05);
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  background: transparent url(../images/trash-inactive.svg) center no-repeat;
  background-size: contain;
  transition: transform 0.2s ease, opacity 0.2s ease, background-image 0.2s ease;
}

.card__delete-button:hover {
  background: transparent url(../images/trash-active.svg) center no-repeat;
  background-size: contain;
  transform: scale(1.3);
  opacity: 0.9;
}
