.cards {
  margin-top: 51px;
}

@media screen and (max-width: 630px) {
  .cards {
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 935px) {
  .cards {
    padding: 0;
    margin-top: 36px;
  }
}
