.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  max-width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  font-weight: 900;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.05);
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}
