.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  color: black;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal_opened {
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  max-width: 430px;
}

.modal__close {
  background-image: url("../images/close_icon.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% - 3px);
  left: calc(100% - 3px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  padding-bottom: 10px;
  margin: 30px 0;
  border: none;
  border-bottom: 1px solid black;
}

.modal__button {
  min-height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.modal__button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* ===== Validation ===== */

.modal__input-error {
  font-size: 12px;
  color: red;
  min-height: 15px;
  margin-top: -20px;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__button_disabled {
  background-color: #e5e5e5;
  color: black;
  opacity: 0.6;
  cursor: default;
}

.modal__button_disabled:hover {
  transform: none;
  opacity: 0.6;
}
