.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  padding: 0 20px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 935px) and (min-width: 780px) {
  .page__section {
    margin: 0 20px 0 20px;
    max-width: calc(100% - 80px);
    padding: 0;
  }
}

@media screen and (min-width: 460px) and (max-width: 630px) {
  .page__section {
    max-width: calc(100% - 40px);
    margin-left: 0px;
    margin-right: 0px;
  }
}
